@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;800&family=Heebo:wght@300;400;500;700&display=swap');

/* font-family: 'Cairo', sans-serif;
font-family: 'Heebo', sans-serif; */

/* colours:

#BCD6D5 : light blue 
#DBBB85 : sand 
#F5F5F5 : off-white 
#064635 : forest green  */

body {
    font-family: 'Cairo', sans-serif;
    background-color: #F5F5F5;
}

/* Add anything here that's Heebo  */

.about-title, .our-story-h2, .our-misson-h2, .our-commitment-h2 {
    font-family: 'Heebo', sans-serif;
}


/* --------------------------------------------------------------------------------------------------------------
Text Colours */

/* TEXT COLOUR #BCD6D5 : light blue */

.about-title, .our-story-h2, .our-commitment-h2 {
    color: #BCD6D5; 
}

/* TEXT COLOUR #DBBB85 : sand  */


/* TEXT COLOUR #F5F5F5 : off-white  */


/* TEXT COLOUR #064635 : forest green  */

.our-story-p, .our-mission-p, .our-commitment-p, .our-misson-h2, .about-us-btn {
    color: #064635;
}

.about-us-cert-img {
    width: 80px;
}

/* CHANGE THISSSS  */
.about-title {
    font-size: 3.5em;
}

.opaque-background {
    background-color: rgb(6, 70, 53, 50%);
}


/* THIS MAY CREATE CONFLICT  
.container-fluid, .container {
    padding-left: 0rem;
    padding-right: 0rem; 
    overflow: hidden;
} */

.about-us-btn {
    background-color: #DBBB85;
}

.about-us-btn:hover {
    background-color: #DBBB85;
    font-weight: 600;
    color:#064635;z
}

@media screen and (min-width: 1200px) {

.about-us .fs-4 {
    font-size: 2em!important;
}
}


@media screen and (min-width: 768px) {
    .opaque-background {
        background-color: #f5f5f5;
    }

    .about-us-cert-img {
        width: 100px;
    }

    
    .about-bottom {
        padding-bottom: 4em;
    }

    .about-title {
        font-size: 6em;
    }

    .our-story-h2 {
        font-size: 2.75em;
    }

    .our-misson-h2 {
        margin-top: -3.5em;
        margin-left: 3em;
        font-size: 5em;
       
    }
  }

  @media screen and (max-width: 992px) {
    .our-misson-h2 {
        margin-top: -3.25em;
        margin-left: 3em;
        font-size: 4em;
       
    }
    .our-commitment-h2 {
        font-size: 1.5em;
    }

    .about-us .fs-4 {
        font-size: 1.25em!important;
    }
}

  @media screen and (max-width: 768px) {
    .opaque-band {
        height: 2.7em;
        z-index: 0;
     
    }

    .commitment-img, .our-story-img {
        margin-top: -2.7em;
        z-index: -1;
        width: 100%;
        margin-bottom: -2.7em;
    }
    
    .our-story-p, .our-commitment-p {
        color: #F5F5F5;
    }

    .our-commitment-h2, .our-story-h2 {
        padding-top: 2em;
    }

    .about-bottom {
        padding-bottom: 1.5em;
    }

    .about-title {
        font-size: 4em;
    }    
    
    .our-story-h2 {
        font-size: 2em;
    }

    .our-misson-h2 {
        margin-top: -3.3em;
        margin-left: 4em;
        font-size: 3em;
       
    }
  }




  @media screen and (max-width: 576px) {
    .opaque-band {
        height: 2.3em;
     
    }

    .commitment-img, .our-story-img {
        margin-top: -2.3em;
        margin-bottom: -2.3em;
    }
    
    .our-commitment-h2, .our-story-h2 {
        padding-top: 1.75em;
    }

    .about-us p {
        padding-left: 1em;
        padding-right: 1em;
    }

    .our-misson-h2 {
        margin-top: -3em;
        margin-left: 3.75em;
        font-size: 2.75em;
       
    }
    .about-us .fs-4 {
        font-size: 1em!important;
    }

  }