@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;800&family=Heebo:wght@300;400;500;700&display=swap');

/* font-family: 'Cairo', sans-serif;
font-family: 'Heebo', sans-serif; */

/* colours:

#BCD6D5 : light blue 
#DBBB85 : sand 
#F5F5F5 : off-white 
#064635 : forest green  */

/* FOOTER STUFF  */

.footer-newsletter {
background-color: rgb(6, 70, 53, 50%);
}


.footer-bottom {
    background-color: rgb(6, 70, 53, 83%);
}
/* --------------------------------------------------------------------------------------------------------------
Text Colours */

/* TEXT COLOUR #BCD6D5 : light blue */

.newsletter-h4 {
    color: #BCD6D5; 
}

/* TEXT COLOUR #DBBB85 : sand  */


/* TEXT COLOUR #F5F5F5 : off-white  */


/* TEXT COLOUR #064635 : forest green  */


/* --------------------------------------------------------------------------------------------------------------
 */



