@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;800&family=Heebo:wght@300;400;500;700&display=swap');

/* font-family: 'Cairo', sans-serif;
font-family: 'Heebo', sans-serif; */

/* colours:

#BCD6D5 : light blue 
#DBBB85 : sand 
#F5F5F5 : off-white 
#064635 : forest green  */

body {
    font-family: 'Cairo', sans-serif;
}

/* Add anything here that's Heebo  */

footer h4 {
   font-family: 'Heebo', sans-serif;
}

.homepage h1 {
  font-family: 'Heebo', sans-serif;
  color: #BCD6D5;
}

/*not sure what this block is for, it gives error so commented out until completed or removed*/
/* {
    font-family: 'Heebo', sans-serif;
    color: #064635;
} */


/* --------------------------------------------------------------------------------------------------------------
Text Colours */

/* TEXT COLOUR #BCD6D5 : light blue */

footer, footer .bi, footer .fa-brands {
   color: #BCD6D5; 
}

/* TEXT COLOUR #DBBB85 : sand  */


/* TEXT COLOUR #F5F5F5 : off-white  */

footer label, footer .btn {
   color: #F5F5F5;
}
/* TEXT COLOUR #064635 : forest green  */




/* --------------------------------------------------------------------------------------------------------------
 */





/* FOOTER STUFF  */

footer .newsletter {
    background-color: rgb(6, 70, 53, 50%);
    }
    
    
 .footer-bottom {
     background-color: rgb(6, 70, 53, 83%);
 }

 footer h4 {
   font-size: 4em; 
   font-weight: 500;
}

.handle {
   font-size: 2em;
}

 .footer-contact-us:hover, .footer-contact-us:visited {
    text-decoration: none;
    font-weight: 600;
    color: #BCD6D5; 
 }


 footer .bi, footer .fa-brands{
    font-size: 1.5em;
    margin-left: 1px;
    margin-right: 1px;
 }

/* Background image */
 footer {
   background-image: url("../images/background-footer.jpeg");
   object-fit: cover;
 }

/* --------------------------------------------------------------------------------------------------------------
 MEDIA QUERIES: ORDER: (MAX-934) - (MAX 804) - (MAX-707) - (MAX-613) */
 
 @media screen and (max-width: 1200px) {
   footer .address {
       line-height: 1.2em;
       font-size: 1.2em;
    }
   
    .handle {
       font-size: 1.5em;
    }

    footer .bi, footer .fa-brands {
       font-size: 1.5em;
       margin-left: 0px;
       margin-right: 0px;
    }
 }
  
 @media screen and (max-width: 934px) {
    .footer-address {
        line-height: 1.1em;
        font-size: 1em;
     }

     .handle {
        font-size: 1.25em;
     }

     footer .bi, footer .fa-brands {
        font-size: 1.2em;
        margin-left: 0px;
        margin-right: 0px;
     }
  }

   @media screen and (max-width: 804px) {
    .newsletter-h4 {
        font-size: 3.5em; 
    }

    footer .address {
      margin-left: 2px;
      font-size: .9em;
   }

     .copyright, .footer-legal-warning {
        font-size: .9em;
     }
  }

  @media screen and (max-width: 755px) {
    .newsletter-h4 {
        font-size: 3em; 
    }
  }

  @media screen and (max-width: 707px) {
    .newsletter-h4 {
        font-size: 2.6em; 
    }

    .footer-address {
        margin-left: 2px;
        font-size: .8em;
     }

     .handle {
        font-size: 1.1em;
     }

     footer .bi, footer .fa-brands {
        font-size: 1em;

     }
  }

  @media screen and (max-width: 613px) {
   footer h4 {
     font-size: 2.5em; 
 }

 footer .address {
     margin-left: 6px;
     font-size: .7em;
  }

  .handle {
     font-size: 1em;
  }

  footer .bi, footer .fa-brands {
     font-size: 1em;

  }
}

@media screen and (max-width: 575px) {


   .copyright, .footer-legal-warning {
      font-size: .8em;
   }

   .handle {
      font-size: 1em;
   }

   footer .bi, footer .fa-brands {
      font-size: 1.5em;
      margin-left: 1px;
      margin-right: 1px;

   }
}