@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;800&family=Heebo:wght@300;400;500;700&display=swap');

/* font-family: 'Cairo', sans-serif;
font-family: 'Heebo', sans-serif; */

/* colours:

#BCD6D5 : light blue 
#DBBB85 : sand 
#F5F5F5 : off-white 
#064635 : forest green  */

body {
    font-family: 'Cairo', sans-serif;
}

/* Add anything here that's Heebo  */

.newsletter-h4 {
    font-family: 'Heebo', sans-serif;
}


/* --------------------------------------------------------------------------------------------------------------
Text Colours */

/* TEXT COLOUR #BCD6D5 : light blue */

.newsletter-h4, .footer-address {
    color: #BCD6D5; 
}

/* TEXT COLOUR #DBBB85 : sand  */


/* TEXT COLOUR #F5F5F5 : off-white  */


/* TEXT COLOUR #064635 : forest green  */


/* --------------------------------------------------------------------------------------------------------------
 */





/* FOOTER STUFF  */

.footer-newsletter {
    background-color: rgb(6, 70, 53, 50%);
    }
    
    
 .footer-bottom {
     background-color: rgb(6, 70, 53, 83%);
 }

 .newsletter-h4 {
     font-size: 4em; 
     margin-left: 5px;
     font-weight: 500;
 }


 .footer-address {
    line-height: 1.15em;
 }
/* --------------------------------------------------------------------------------------------------------------
 MEDIA QUERIES: ORDER: (MAX 804) - (MAX-707) -  */


   @media screen and (max-width: 804px) {
    .newsletter-h4 {
        font-size: 3.5em; 
    }
  }

  @media screen and (max-width: 707px) {
    .newsletter-h4 {
        font-size: 3em; 
    }
  }

  @media screen and (max-width: 613px) {
    .newsletter-h4 {
        font-size: 2.5em; 
    }
  }